/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Fundo do site - Background - Corpo */
body {
    background-color: #F0F8E2; 
    color: #333; 
    font-family: 'Open Sans', sans-serif; 
    display: flex;
    flex-direction: column;
}

/* Navbar*/
.navbar {
    background: #29B6F6;
}

.navbar-brand, .nav-link {
    color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
}


/* Estilo para os itens do menu */
.navbar-nav .nav-link {
    color: white;
    margin: 0 10px;
    transition: background-color 0.3s; 
}

/* Item ativo com fundo azul */
.navbar-nav .nav-link.active {
    background-color: #FFC107;  
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
}

.navbar-nav .nav-link:not(.active):hover {
    background-color: #FFC107;
    border-radius: 25px;
    padding: 10px 20px;  
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.area-pesquisa {
    border: none;
    border-radius: 25px;
}

.btn-lupa {
    border-radius: 25px;
}

/* Estilo do botão toggler para fundo amarelo */
.custom-toggler {
    background-color: #FFD700; 
    border: none; 
}

/* Estilo para o ícone do toggler com listras brancas */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='white' stroke-width='1.5' d='M2 4h12M2 8h12M2 12h12'/%3E%3C/svg%3E");
}

/* Define o tamanho fixo do carrossel apenas para telas maiores */
@media (min-width: 992px) {
    .carousel-container {
        max-width: 1250px;
        height: 400px;
        margin: 30px auto;
        border-radius: 35px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
    }

    .carousel-container .carousel-item img {
        height: 400px;
        object-fit: cover;
        border-radius: 35px;
    }
}

main {
    flex: 1;
}

/* Estilo para os títulos*/
h2 {
    color: #2E7D32;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem; 
    font-weight: bold; 
    margin-top: 2rem; 
    margin-bottom: 1.5rem; 
    text-transform: uppercase; 
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
}

/* Estilo para os cards */
.card {
    border-radius: 15px; 
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

/* Arredondar as bordas das imagens dos cards */
.card-img-top {
    border-radius: 15px;
}

/* Efeito hover para os cards */
.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); 
}

/* Estilo para o título dos cards */
.card-title {
    font-family: 'Arial', sans-serif; 
    color: #2E7D32; 
    font-size: 1.25rem; 
    font-weight: bold; 
    text-align: center; 
}

/* Estilo para o texto dos cards */
.card-text {
    font-family: 'Arial', sans-serif;
    color: #555; 
    font-size: 1rem;
    text-align: center; 
}

/* Estilo para o botão do card */
.card .btn {
    display: block; 
    width: 50%; 
    margin: 0 auto; 
    color: white; 
    background-color: #FFC107; 
    border: none; 
    transition: background-color 0.3s ease; 
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
}

/* Efeito hover para o botão */
.card .btn:hover {
    background-color: #dba503; 
}

/*Área de texto do Sobre*/
.text-container {
    max-width: 800px; 
    margin: 0 auto;   
}

.text-container p {
    margin-bottom: 1.5rem; 
}


/* Estilo do footer */
footer {
    width: 100%;
    background: #43A047;          
    color: white;
    padding-top: 50px;
    text-align: center;
}

footer h5 {
    font-weight: bold;
}

/* Estilos para os links do footer */
.footer-nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

.footer-nav {
    list-style-type: none;
    padding-left: 0; 
}

/* Responsividade do Footer */
@media (max-width: 767px) {
    .footer-nav {
        text-align: center;
    }
    
    .footer-nav-link {
        display: block;
        margin-bottom: 10px;
    }
}

/*Estilo Galeria*/
.gallery {
    margin: 30px auto;
}

.gallery img {
    transition: transform 0.3s ease-in-out; 
}

.gallery img:hover {
    transform: scale(1.1); 
    cursor: pointer; 
}
